<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Unofficial.SilverlightToolkit-All" version="5.2011.11" targetFramework="sl50" />
  <package id="Unofficial.SilverlightToolkit-Core" version="5.2011.11" targetFramework="sl50" />
  <package id="Unofficial.SilverlightToolkit-Data" version="5.2011.11" targetFramework="sl50" />
  <package id="Unofficial.SilverlightToolkit-DataViz" version="5.2011.11" targetFramework="sl50" />
  <package id="Unofficial.SilverlightToolkit-Input" version="5.2011.11" targetFramework="sl50" />
  <package id="Unofficial.SilverlightToolkit-Layout" version="5.2011.11" targetFramework="sl50" />
  <package id="Unofficial.SilverlightToolkit-Theming" version="5.2011.11" targetFramework="sl50" />
</packages>